body {
    font: 16px/1 Helvetica, sans-serif;
	background: #fff
}


#photos {
    float: left;
    width: 100%;
}

.photo {
    float: left;
    margin: 0 5px 5px 0;
    overflow: hidden;
    height: 160px;
	padding: 20px 0 0 0
}

.photo,
.photo img {
    min-width: 160px;
    max-width: 240px
}

.btn_fav{color: #C36; font-size: 10px; margin: 5px;	cursor: pointer}